<body style="text-align:right;">
</body>
<h1 style="color:rgb(227, 116, 72);"> 🦁 2022 DGU likelion 10th sns : DLS 🦁 </h1>
<img src="main\templates\main\응.jpg" style="margin: 0 auto;" height="150" weigh="150"/>
<p style="color:rgb(85, 134, 208);">@dudtlstm</p>
<p>영 신</p>
<div style="line-height:0.5;">
    <p style="font-size:10px;"> 02.10.24 </p>
    <p style="font-size:10px;"> DGU English 22 </p>
    <p style="font-size:10px;"> likelion.dongguk 10th </p>
    <p style="font-size:10px;"> Baeksang Cheerleading Squad 46th </p>
</div>